<div #content class="content">
    <div *ngIf="isTestDivScrolledIntoView" class="text">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span>Eliminate tedious modeling, drafting, and detailing tasks through automation</span>
    </div>
    <div class="text">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span>Eliminate tedious modeling, drafting, and detailing tasks through automation</span>
    </div>
    <div #testDiv class="test">Test</div>
</div>