@import "../../../assets/theme/templateApp-theme.scss";

// #TODO the layout needs to be redone, instead of left and right column, have image and text columns.

.two-columns {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 50vw;
}

.right-column {
    width: 50vw;
}

.text-section {
    margin: 20px;
}

.title {
    h2 {
        font-size: 2em;
    }
}

.sub-title {
    margin-left: 12px;
    width: 80%;
}

.text-content {
    margin-left: 12px;
    width: 78%;
}

@media (max-width: #{$mediaXLgDesktopWidth}) { }
@media (max-width: #{$mediaLaptopWidth}) {
    .text-content {
        width: 100%;
    }
    .sub-title {
        width: 100%;
    }
 }
@media (max-width: #{$mediaTabletWidth}) {
    .two-columns {
        flex-wrap: wrap;
    }
    .left-column {
        width: 100vw;
        height: 40vw;
        overflow: hidden;
    }
    .right-column {
        width: 100%;
        padding: 12px;
    }
    .text-content {
    }
 }
@media (max-width: #{$mediaSmTabletWidth}) {
 }
@media (max-width: #{$mediaMobileWidth}) { }
@media (max-width: #{$mediaSmMobileWidth}) { }