<div class="two-columns">
    <div class="left-column">
        <span *ngIf="isLeftImg"><ng-container *ngTemplateOutlet="image"></ng-container></span>
        <span *ngIf="!isLeftImg"><ng-container *ngTemplateOutlet="text"></ng-container></span>
    </div>
    <div class="right-column">
        <span *ngIf="!isLeftImg"><ng-container *ngTemplateOutlet="image"></ng-container></span>
        <span *ngIf="isLeftImg"><ng-container *ngTemplateOutlet="text"></ng-container></span>
    </div>
</div>

<ng-template #image>
    <img width="100%" [src]="imgSrc" alt="image">
</ng-template>

<ng-template #text>
    <div class="text-section">
        <div class="title">
            <h2>{{ txtTitle }}</h2>
        </div>
        <div class="sub-title">
            <h3>{{ subTitleTxt }}</h3>
        </div>
        <div class="text-content">
            <ng-content></ng-content>
        </div>
    </div>
</ng-template>