@import '~@angular/material/theming';
@import 'palette';

// Primary theme colors.
$templateApp-app-primary: mat-palette($templateApp-primary, main, lighter, darker);
$templateApp-app-accent:  mat-palette($templateApp-accent, main, lighter, darker);
$templateApp-app-warn:    mat-palette($templateApp-warn, main, lighter, darker);
$templateApp-app-foreground: mat-palette($templateApp-foreground, main, lighter);
$templateApp-app-background: mat-palette($templateApp-background, main, lighter, darker);

$templateApp-app-theme: mat-light-theme($templateApp-app-primary, $templateApp-app-accent, $templateApp-app-warn);

// BimDev secondary colors currently used for Success color.
$secondary-primary: mat-palette($mat-green);
$secondary-accent:  mat-palette($mat-pink, A200, A100, A400);
$secondary-warn:    mat-palette($mat-deep-orange);
$secondary-theme: mat-light-theme($secondary-primary, $secondary-accent, $secondary-warn);

//Typography
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Open Sans', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Open Sans', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Open Sans', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Open Sans', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Open Sans', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Open Sans', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Open Sans', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Open Sans', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Open Sans', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Open Sans', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Open Sans', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Open Sans', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Open Sans', 1.5px)
);

// Screen Size Break Points
$mediaXLgDesktopWidth: 1901px;
$mediaLaptopWidth: 1200px;
$mediaTabletWidth: 1024px;
$mediaSmTabletWidth: 768px;
$mediaMobileWidth: 480px;
$mediaSmMobileWidth: 320px;
