<mat-drawer-container style="overflow: hidden;">
    <mat-drawer #drawer mode="over" position="end">
        <app-header (closeSidebar)="drawer.close()"></app-header>
    </mat-drawer>
    <div *ngIf="(content.screenWidthSubj | async)! <= content.$mediaSmTabletWidth" class="mobile-header header">
        <div class="logo">
            <img [src]="content.logoImgSmall" alt="business logo">
        </div>
        <div class="nav-btn" (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Menu Icon">menu</mat-icon>
        </div>
    </div>
    <div class="header">
        <app-header *ngIf="(content.screenWidthSubj | async)! > content.$mediaSmTabletWidth"></app-header>
    </div>
    <router-outlet></router-outlet>


</mat-drawer-container>