@import "../../../assets/theme/templateApp-theme.scss";

.container {
    height: fit-content;
}
.image-content {
    min-height: 88vh;
    width: 100vw;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.txt-area{
    text-align: center;
    position: relative;
    bottom: 7vw;
    h1 {
        font-weight: 600;
        text-shadow: 1px 1px 2px map-get($templateApp-background, main);
        font-size: 3em;
    }
    h3 {
        font-weight: 500;
        text-shadow: 1px 1px 2px map-get($templateApp-background, main);
        font-size: 2em;
    }
}

.video-content {
    height: fit-content;
    max-height: calc(88vh - (-1vw));
    overflow: hidden;
}

.videoTxt {
    position: relative;
    text-align: center;
    top: -38vw;
    h1, h3 {
        color: map-get($templateApp-background, darker);;
        text-shadow: 1px 1px 2px map-get($templateApp-foreground, lighter);
    }
}

@media (max-width: #{$mediaXLgDesktopWidth}) { }
@media (max-width: 1500px) {
    .video-content {
        height: 56vw;
    }
 }
@media (max-width: #{$mediaLaptopWidth}) { 
    .txt-area{
        h1 {
            font-size: 2em;
        }
        h3 {
            font-size: 1em;
        }
    }
}
@media (max-width: #{$mediaTabletWidth}) { }
@media (max-width: #{$mediaSmTabletWidth}) { }
@media (max-width: #{$mediaMobileWidth}) {
    .txt-area{
        bottom: 30vw;
        h1 {
            font-size: 16pt;
        }
        h3 {
            font-size: 14pt;
        }
    }
 }
@media (max-width: #{$mediaSmMobileWidth}) { }