<app-landing-media [backgrounUrl]="content.landingMediaBackground" [titleTxt]="content.landingMediaTitleTxt"
    [titleSubTxt]="content.landingMediaTitleSubTxt" [videoSource]="content.landingMediaVideoSource"></app-landing-media>
<app-side-by-side [isLeftImg]="true" [imgSrc]="content.sideBySideImgSrc" [txtTitle]="content.sideBySideTxtTitle"
    [subTitleTxt]="content.sideBySideSubTitleTxt">
    <div class="title">
        <h2>{{ content.sideBySideTxtTitle }}</h2>
    </div>
    <div class="sub-title">
        <h3>{{ content.sideBySideSubTitleTxt }}</h3>
    </div>
    <mat-list>
        <mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
            <p>Get assistance so that the Architectural, Engineering and Construction industries make the most
                out of their BIM processes.</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
            <p>Get custom applications for your use case and implement any functionalities provided by the
                software API.</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
            <p>Get the resources we have to help you integrate with any Autodesk product using the vast network
                we've built</p>
        </mat-list-item>
    </mat-list>
</app-side-by-side>
<app-slide-in [direction]="'from-right'" [duration]="'3s'">
    <div class="text">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <span>Eliminate tedious modeling, drafting, and detailing tasks through automation</span>
    </div>
</app-slide-in>
<app-features [featureTitle]="content.featuresTitle" [featureSubtitle]="content.featuresSubtitle"
    [features]="content.features"></app-features>